h1 {
    color: blue;
}
.error {
    margin: 10px auto;
    text-align: center;
    border: 2px solid black;
    color: white;
    background-color: red;
    height: 30px;
    width: 200px;
}
.success {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    color: white;
    background-color: green;
    height: 80px;
    width: 400px;
}
.danger {
    color: crimson;
}